/* styles/Rectangle.module.css */

.rectangle {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  background: white;
  border-top: 0.25px solid #D0D0D0;
}

.altRect {
  background-color: #FFFCF2;
}

.leftDetails {
  width: 80%;
}

.detail {
  padding-left: 10%;
}

.detailName {
  width: 109px;
  height: 21px;
  font-family: 'Chivo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.detailRating {
  /* Group 1 */
  display: flex;
  margin-top: 10px;
}
.detailRating img{
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.detailDescription {
  /* Passionate team of 4 designers working out of Bangalore with an experience of 4 years. */
  width: 85%;
  height: 32px;
  padding-top: 17px;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.highlights {
  display: flex;
}

.keyValue {
  /* 57 Projects */
  width: 47px;
  height: 37px;
  margin-top: 30px;
  margin-right: 12%;
  text-align: center;
  color: #000000;
}

.number {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.tag {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.contact {
  width: 133px;
  margin-top: 30px;
}

.cNumber {
  margin: 0;
  padding-bottom: 5px;
  height: 19px;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* right */
.rightVertical {
  width: 20%;
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-left: 0.25px solid #D0D0D0;
  /*text-align: right;*/
  /* padding: auto; */
}

.rCont {
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}
.rCont img {
  width: 23px;
  height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.rCont p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #8D4337;
}
